@page "/ingredientconfiguration"

<h1>Zutaten verwalten</h1>
<button @onclick="AddIngredient" class="btn btn-primary btn-rounded mb-3"><i class="fa fa-plus-circle" /></button>

@if (ingredients == null)
{
    <p><em><i class="fa fa-database" />Loading...</em></p>
}
else
{

    <div class="row">
        @foreach (var ingredient in ingredients)
        {
            <EditForm Model="ingredient">
                <div class="col-sm-6">
                    <div class="card mb-3" style="width: 24rem;">
                        @if (!string.IsNullOrWhiteSpace(ingredient.Base64Image))
                        {
                            
                        <label class="btn btn-sm center-block btn-file" title="Change image ...">                            
                            <img src="@ingredient.Base64Image" class="card-img-top">
                            <InputFile OnChange="@(e => OnInputFileChange(e, ingredient))" style="display: none;" />
                        </label>
                        }
                        else
                        {
                            <label class="btn btn-info btn-sm center-block btn-file" title="Add image ...">
                                <span class="fa fa-image">&nbsp;&nbsp;&nbsp;</span>
                                <span class="fa fa-upload"></span>
                                <InputFile OnChange="@(e => OnInputFileChange(e, ingredient))" style="display: none;" />
                            </label>
                        }
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-id-badge" /></span>
                                </div>
                                <input type="text" class="form-control" @bind="ingredient.Name" placeholder="Name">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="oi oi-droplet"></span></span>
                                </div>
                                <InputNumber class="form-control" @bind-Value="ingredient.Quantity"></InputNumber>
                                <div class="input-group-append">
                                    <span class="input-group-text">@ingredient.QuantityUnit</span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-file-alt" /></span>
                                </div>
                                <textarea class="form-control" @bind="ingredient.Text"></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-danger" @onclick="(e => Delete(ingredient))"><i class="fa fa-trash" /></button>
                            <button class="btn btn-primary" @onclick="(e => Save(ingredient))"><i class="fa fa-save" /></button>
                        </div>
                    </div>
                </div>
            </EditForm>
        }
    </div>
}

@code {
    [Inject]
    DatabaseService DatabaseService { get; set; }

    private Ingredient[] ingredients;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        ingredients = (await DatabaseService.LoadAll<Ingredient>()).OrderByDescending(x => x.Id).ToArray();
    }

    private async Task AddIngredient()
    {
        await DatabaseService.Save(new Ingredient { Name = $"Ingredient {ingredients.Length}", Base64Image = "", Quantity = 0, QuantityUnit = Unit.ml, Text = "" });
        await Load();
    }

    private async Task Save(Ingredient ingredient)
    {
        await DatabaseService.Save(ingredient);
    }

    private async Task Delete(Ingredient ingredient)
    {
        await DatabaseService.Delete(ingredient);
        await Load();
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e, Ingredient ingredient)
    {
        var maxAllowedFiles = 1;
        var format = "image/png";

        foreach (var imageFile in e.GetMultipleFiles(maxAllowedFiles))
        {
            var resizedImageFile = await imageFile.RequestImageFileAsync(format, 600, 600);
            var buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream().ReadAsync(buffer);
            var imageDataUrl = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            ingredient.Base64Image = imageDataUrl;
        }
    }
}
